#map {
      height: 100%;
}

html {
      height: 100%;
      margin: 0;
      padding: 0;
}

body {
      height: 100%;
      margin: 0;
      padding: 0;
}

.menu {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom:10px;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.blue {
  font-style: italic;
  color: blue;
}